@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm text-gray-500;
}

body::-webkit-scrollbar {
  @apply hidden;
}

td,
th {
  @apply text-center  py-2  sm:p-4;
}

.active-product {
  @apply shadow-blue-200 shadow-lg border-blue-200;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 95%;
  height: 3rem;

  border-radius: 0.25rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

@keyframes skeleton-loading {
  0% {
    @apply bg-gray-50;
  }

  100% {
    @apply bg-gray-200;
  }
}
